# Source from or copy to ~/.bashrc
function _complete_taskrunner {
    local words=""

    for word in "${COMP_WORDS[@]}"; do
        words="$words -w '$word'"
    done

    local candidates=$(runtasks --complete ${words} --word-index $COMP_CWORD)

    COMPREPLY=( $(compgen -W "${candidates}" -- $2) )
}
complete -F _complete_taskrunner -o default run runtask runtasks
